<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container" style="margin-top:5%;">
	<div class="row">
        <div class="jumbotron" style="box-shadow: 2px 2px 4px #000000;">
            <h2 class="text-center">No balance found<span style="color:#F89406;">The</span><span style="color:#26A65B;"> Savings Club!!</span><span style="color:#19B5FE;"></span></h2>
            <!--<center><div class="btn-group" style="margin-top:50px;">
                <a href="#" class="btn btn-lg btn-primary">Home</a>
                <a href="#" class="btn btn-lg btn-default">Login</a>
            </div></center>-->
        </div>
	</div>
</div>