.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.dropdown12 {
    position: relative;
    display: inline-block;
}

.dropdown-content12 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown12:hover .dropdown-content12 {
    display: block;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
  #myNav li:not([disabled]){
            cursor:pointer;
        }
        
        #regForm {
  background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 0px;
    width: 100%;
}




/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab12 {
  display: none;
  margin-top:40px;
      font-family: 'Open Sans', sans-serif;
}




/* Make circles that indicate the steps of the form: */
.step {
    height: auto;
    width: auto;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #f34d33;
    font-size: 17px;
    color: #fff;
    border: none;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #fbbe25;
    opacity: 1;
}

        
 .chng-cat
   {
          color: #f34d33;
   }
   .chng-cat:hover
   {
          color: #fbbf2a;
   }
   .licat1
   {
   
   border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 10px 0px;
   }


